In [1]:
t1 = float(input("enter t1: "))
t2 = float(input("enter t2: "))
temp = t2-t1

if temp < 0:
    kelvin = temp + 237
    if kelvin > 500:
        print(f"{kelvin}kelvin: temperature is extremely low")
    elif kelvin <500:
        print(f"{kelvin}kelvin: temperature is moderately low")
        
elif temp > 0:
    print(f"{temp}celcius: temperature is too high")
    
else:
    print("inputs not understood!!!")

enter t1: 14
enter t2: 25
11.0celcius: temperature is too high

### Arrays
- sort()
- append()

In [8]:
a = [1, 5, 10, 3]
a.sort()
print(a)

[1, 3, 5, 10]

In [9]:
b = [6, 9, 10, 11]

In [10]:
c = a + b
print(c)

[1, 3, 5, 10, 6, 9, 10, 11]

In [11]:
c.append(True)
print(c)

[1, 3, 5, 10, 6, 9, 10, 11, True]

In [12]:
k = [5, 10, 11]
c.append(k)
print(c)

[1, 3, 5, 10, 6, 9, 10, 11, True, [5, 10, 11]]

In [13]:
####forloops
arr = [2, 4, 7, 9, 3, 1]
for i in arr:
    print(i)

2
4
7
9
3
1

In [15]:
for i in arr:
    if i%2 != 0:
        print(i)

7
9
3
1

In [16]:
arr1 = []
arr2 = []
for i in arr:
    if i%2 != 0:
        arr1.append(i)
    if i%2 == 0:
        arr2.append(i)
print(arr2)

[2, 4]

In [4]:
a = [True, False, 10, 15.5, 21, "janeth", "tobi", 9, True]

for i in a:
    if type(i) == float:
        print(i)

15.5

In [5]:
print (i)

True

In [7]:
p = []
for i in a:
    if type (i) == bool:
        p.append(i)
        
print(p)

[True, False, True]

In [8]:
a = [10, 16, 11, 8, 12, 5, 7, 3, 20]
a.sort()
print (a)

[3, 5, 7, 8, 10, 11, 12, 16, 20]

In [12]:
numb = [10, 16, 11, 8, 12, 5, 7, 3, 20]
arr = []
for i in numb:
    if i < 10:
        arr.append(i)
print(arr)

[8, 5, 7, 3]

In [18]:
odd_numb = []
even_numb = []
for i in numb:
    if i%2 == 0:
        even_numb.append(i)
    elif i%2 !=0:
        odd_numb.append(i)
print(even_numb)
print(odd_numb)

[10, 16, 8, 12, 20]
[11, 5, 7, 3]

In [19]:
arrYs = [10, 20, 11, 8, 10, 6, 1]
print(arrYs)

[10, 20, 11, 8, 10, 6, 1]

In [20]:
for i in arrYs:
    if i == 10:
        print(i)

10
10

In [21]:
for i in enumerate(arrYs):
    print(i)

(0, 10)
(1, 20)
(2, 11)
(3, 8)
(4, 10)
(5, 6)
(6, 1)

In [22]:
for i, b in enumerate(arrYs):
    print(i, b)

0 10
1 20
2 11
3 8
4 10
5 6
6 1

In [23]:
for i, b in enumerate(arrYs):
    if b == 10:
        print(i)

0
4

In [24]:
for i in arrYs:
    if i == 10:
        print(arrYs.index(i))

0
0

In [25]:
###test
z = (10, 10, 11, 2)
z.index(10)

0

In [26]:
z = [10, 10, 11, 2]
for i in z:
    if i == 10:
        print(z.index(i))

0
0

In [34]:
k =[5, 1, 5, 10, 11, 9, 5, 1]

index_vals = []
for i, b in enumerate(k):
    if b == 5:
        index_vals.append(i)
print(index_vals)

[0, 2, 6]